
<!DOCTYPE html>
<!-- saved from url=(0041)http://www.sgtfinancial.com/en/factoring/ -->
<html lang="en-US" style="" class=" js flexbox flexboxlegacy canvas canvastext draganddrop rgba multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients csstransitions generatedcontent video audio localstorage desktop portrait"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>SGT Financial</title>
	<meta name="description" content=" » FACTORING | financial advisor">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	

<link rel="stylesheet" type="text/css" media="all" href="./css/flexigrid.css">

    

	<link rel="profile" href="http://gmpg.org/xfn/11">
		<link rel="icon" href="http://www.sgtfinancial.com/wp-content/uploads/2016/04/favicon.ico" type="image/x-icon">
		<link rel="pingback" href="http://www.sgtfinancial.com/xmlrpc.php">
	<link rel="alternate" type="application/rss+xml" title="SGT Financial" href="http://www.sgtfinancial.com/en/feed/">
	<link rel="alternate" type="application/atom+xml" title="SGT Financial" href="http://www.sgtfinancial.com/en/feed/atom/">
	<link rel="stylesheet" type="text/css" media="all" href="./SGT_files/bootstrap.css">
	<link rel="stylesheet" type="text/css" media="all" href="./SGT_files/responsive.css">
	<link rel="stylesheet" type="text/css" media="all" href="./SGT_files/camera.css">
	<link rel="stylesheet" type="text/css" media="all" href="./SGT_files/style.css">
	<meta name="robots" content="noindex,follow">
<link rel="alternate" type="application/rss+xml" title="SGT Financial » Feed" href="http://www.sgtfinancial.com/en/feed/">
<link rel="alternate" type="application/rss+xml" title="SGT Financial » Comments Feed" href="http://www.sgtfinancial.com/en/comments/feed/">
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/www.sgtfinancial.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.3"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="./SGT_files/wp-emoji-release.min.js" type="text/javascript"></script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" id="flexslider-css" href="./SGT_files/flexslider.css" type="text/css" media="all">
<link rel="stylesheet" id="owl-carousel-css" href="./SGT_files/owl.carousel.css" type="text/css" media="all">
<link rel="stylesheet" id="owl-theme-css" href="./SGT_files/owl.theme.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="./SGT_files/font-awesome.css" type="text/css" media="all">
<link rel="stylesheet" id="cherry-plugin-css" href="./SGT_files/cherry-plugin.css" type="text/css" media="all">
<link rel="stylesheet" id="cherry-media-parallax-styles-css" href="./SGT_files/cherry-media-parallax-styles.css" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="./SGT_files/styles.css" type="text/css" media="all">
<link rel="stylesheet" id="theme52702-css" href="./SGT_files/main-style.css" type="text/css" media="all">
<link rel="stylesheet" id="magnific-popup-css" href="./SGT_files/magnific-popup.css" type="text/css" media="all">
<link rel="stylesheet" id="options_typography_Ubuntu-css" href="./SGT_files/css" type="text/css" media="all">
<script type="text/javascript" src="./SGT_files/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="./SGT_files/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="./SGT_files/jquery.elastislide.js"></script>
<script type="text/javascript" src="./SGT_files/js"></script>
<script type="text/javascript" src="./SGT_files/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="./SGT_files/swfobject.js"></script>
<script type="text/javascript" src="./SGT_files/modernizr.js"></script>
<script type="text/javascript" src="./SGT_files/jflickrfeed.js"></script>
<script type="text/javascript" src="./SGT_files/custom.js"></script>
<script type="text/javascript" src="./SGT_files/bootstrap.min.js"></script>
<script type="text/javascript" src="./SGT_files/superfish.js"></script>
<script type="text/javascript" src="./CherryFramework/js/device.min.js"></script>
<script type="text/javascript" src="./CherryFramework/js/tmStickUp.js"></script>

<script type="text/javascript" src="js/jquery-ui-1.8.21.custom.min.js"></script> 
  <script type="text/javascript" src="scripts/jsSession.js"></script>  
   <script type="text/javascript" src="scripts/jsGenerateMenu.js"></script>  
	 <script type="text/javascript" src="./js/jquery.flexigrid.js"></script>   

<link rel="https://api.w.org/" href="http://www.sgtfinancial.com/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.sgtfinancial.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.sgtfinancial.com/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 4.5.3">
<link rel="canonical" href="http://www.sgtfinancial.com/en/factoring/">
<link rel="shortlink" href="http://www.sgtfinancial.com/?p=2448">
<link rel="alternate" type="application/json+oembed" href="http://www.sgtfinancial.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.sgtfinancial.com%2Fen%2Ffactoring%2F">
<link rel="alternate" type="text/xml+oembed" href="http://www.sgtfinancial.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.sgtfinancial.com%2Fen%2Ffactoring%2F&amp;format=xml">
<link rel="alternate" href="http://www.sgtfinancial.com/en/factoring/" hreflang="en-US">
<link rel="alternate" href="http://www.sgtfinancial.com/es/factoring-es/" hreflang="es-ES">



 <link rel="stylesheet"href="./css/Page.css" type="text/css"  />

 

<script>
 var system_folder = 'http://www.sgtfinancial.com/wp-content/themes/CherryFramework/admin/data_management/',
	 CHILD_URL ='http://www.sgtfinancial.com/wp-content/themes/theme52702',
	 PARENT_URL = 'http://www.sgtfinancial.com/wp-content/themes/CherryFramework', 
	 CURRENT_THEME = 'theme52702'</script>
<style type="text/css">
body { background-image:url(http://www.sgtfinancial.com/wp-content/themes/theme52702/images/bg_body.png); background-repeat:repeat; background-position:top center; background-attachment:scroll; }
body { background-color:#333f3f }
.loc
{
    font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 26px;
    color: black;
text-align: justify;
}
.sf-menu ul {
    width: 240px;
}

.sf-menu ul li {
    width: 93%;
}


.logo_tagline {
    display: none;
    padding-top: 0px; 
}

.logo {
    width: 270px;
  
}

.header_top:before {
    background: #2E738D;
}

.current_page_item
{
    background: #2E738D !important; 
}

.sf-menu>li>a:after {
    background: #2E738D !important; 
}

.isStuck {
    background-color: #2E738D;
}

.sf-menu>li>a:before {
    background: #2E738D !important; 
}
.header:before {
    background: rgba(0, 0, 0, 0.67);
}

.logo {
    padding: 30px 0 0;
}
.sf-menu ul {
    width: 240px;
}

.service-box h2 {
    font-size: 30px;
}

address{
line-height: 25px;
}

.address-1 {
    line-height: 16px;
}

.address-2 {
    line-height: 16px;
   font-size: 14px;
}

.service-box h5 {
    font-size: 25px;
}

.service-box
{
margin-left: 25px;
margin-right: 25px;
}

.content_box.box-1 {
    padding: 30px 0 25px;
}

.content_box.box-1 p {
       font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.content_box.box-1 h2 {
    color: #fff;
    margin: 20px 0 5px 0;
}

.content_box.box-2 {
    padding: 40px 0 30px;
    text-align: justify; 
    text-justify: inter-word;
}

.content_box.box-2 p {
    color: #414141;
     font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
  }

.content_box.box-2 h2{
    color: #414141;
}

.lang-item {
display: inline;
margin-left: 5px;
}

#polylang-3 {
max-height:18px;
float: right;
margin-right: 26px;
}

.banner-desc {
       color:#000000;
	font-size:18px;
	font-weight:normal;
}

section.fixed_parallax_section{
  padding: 16px 0 12px 0;
}

.parallax_content p {
     font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
     color: #fff;
}

.parallax_content h2 {
    color: #fff;
    margin: 20px 0 5px 0;
}

.circle-invert
    {
    font:600 14px/24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    width:12px;
    height:16px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius:50px;
    color:#fff;
    line-height:16px;
    text-align:center;
    background:#80878e;
   margin-right: 6px;
}

.list.circle-list li {
    font-size: 16px;
}
.circle
    {
    font:600 14px/24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    width:12px;
    height:16px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius:50px;
    color:#80878e;
    line-height:16px;
    text-align:center;
    background:#fff;
   margin-right: 6px;
}

.footer .address-2 span {
    display: inline;
}

.footer h4 {
    color: #fff;
    padding-top: 24px; 
}

.content_box.box-1.style-1 {
    margin-top: 45px;
line-height: 48px;
}

.content-holder {
    padding-bottom: 0px;
}

#black-ul  li:before
{
    color: #414141;
}

.title-section {
    padding-top: 10px;
	 padding-bottom: 10px;
}

.benefits-h1 {
    font: 28px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #414141;
    text-transform: uppercase;
}

.benefits-h2 {
    font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #fff;
}

.benefits-h3 {
    font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #414141;
}
</style>
<style type="text/css">
h1 { font: normal 48px/48px "Trebuchet MS", Arial, Helvetica, sans-serif;  color:#414141; }
h2 { font: normal 40px/58px "Trebuchet MS", Arial, Helvetica, sans-serif;  color:#414141; }
h3 { font: normal 40px/58px "Trebuchet MS", Arial, Helvetica, sans-serif;  color:#414141; }
h4 { font: bold 16px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;  color:#414141; }
h5 { font: normal 36px/48px "Trebuchet MS", Arial, Helvetica, sans-serif;  color:#414141; }
h6 { font: normal 18px/24px "Trebuchet MS", Arial, Helvetica, sans-serif;  color:#64a0bc; }
body { font-weight: normal;}
.logo_h__txt, .logo_link { font: normal 48px/30px Arial, Helvetica, sans-serif;  color:#ffffff; }
.sf-menu > li > a { font: normal 14px/30px "Trebuchet MS", Arial, Helvetica, sans-serif;  color:#ffffff; }
.nav.footer-nav a { font: normal 12px/30px Arial, Helvetica, sans-serif;  color:#80878e; }
</style>


		<!--[if lt IE 9]>
		<div id="ie7-alert" style="width: 100%; text-align:center;">
			<img src="http://tmbhtest.com/images/ie7.jpg" alt="Upgrade IE 8" width="640" height="344" border="0" usemap="#Map" />
			<map name="Map" id="Map"><area shape="rect" coords="496,201,604,329" href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" alt="Download Interent Explorer" /><area shape="rect" coords="380,201,488,329" href="http://www.apple.com/safari/download/" target="_blank" alt="Download Apple Safari" /><area shape="rect" coords="268,202,376,330" href="http://www.opera.com/download/" target="_blank" alt="Download Opera" /><area shape="rect" coords="155,202,263,330" href="http://www.mozilla.com/" target="_blank" alt="Download Firefox" /><area shape="rect" coords="35,201,143,329" href="http://www.google.com/chrome" target="_blank" alt="Download Google Chrome" />
			</map>
		</div>
	<![endif]-->
	<!--[if gte IE 9]><!-->
		<script src="./SGT_files/jquery.mobile.customized.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			jQuery(function(){
				jQuery('.sf-menu').mobileMenu({defaultText: "Navigate to..."});
			});
		</script>
	<!--<![endif]-->
	<script type="text/javascript">

		// Init navigation menu
		jQuery(function(){
				debugger;
		// main navigation init
			jQuery('ul.sf-menu').superfish({
				delay: 1000, // the delay in milliseconds that the mouse can remain outside a sub-menu without it closing
				animation: {
					opacity: "show",
					height: "show"
				}, // used to animate the sub-menu open
				speed: "normal", // animation speed
				autoArrows: true, // generation of arrow mark-up (for submenu)
				disableHI: true // to disable hoverIntent detection
			});

		//Zoom fix
		//IPad/IPhone
			var viewportmeta = document.querySelector && document.querySelector('meta[name="viewport"]'),
				ua = navigator.userAgent,
				gestureStart = function () {
					viewportmeta.content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0";
				},
				scaleFix = function () {
					if (viewportmeta && /iPhone|iPad/.test(ua) && !/Opera Mini/.test(ua)) {
						viewportmeta.content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
						document.addEventListener("gesturestart", gestureStart, false);
					}
				};
			scaleFix();
		})
	</script>
	<!-- stick up menu -->
	<script type="text/javascript">
		jQuery(document).ready(function(){
			if(!device.mobile() && !device.tablet()){
				jQuery('.header .nav__primary').tmStickUp({
					correctionSelector: jQuery('#wpadminbar')
				,	listenSelector: jQuery('.listenSelector')
				,	active: true				,	pseudo: true				});
			}

		})
	</script>
<style type="text/css">@media(max-width: 767px){.sf-menu{display:none;} .select-menu{display: block;}}</style><script type="text/javascript" charset="UTF-8" src="./SGT_files/common.js"></script><script type="text/javascript" charset="UTF-8" src="./SGT_files/util.js"></script><script type="text/javascript" charset="UTF-8" src="./SGT_files/stats.js"></script></head>

<body class="page page-id-2448 page-template page-template-page-fullwidth page-template-page-fullwidth-php">
	<div id="motopress-main" class="main-holder">
		<!--Begin #motopress-main-->
		<header class="motopress-wrapper header">
			<div class="container">
				<div class="row">
					<div class="span12" data-motopress-wrapper-file="wrapper/wrapper-header.php" data-motopress-wrapper-type="header" data-motopress-id="5795c91dae0e7">
						<div class="header_top">
	<div class="row">
		<div class="span3">
			<div class="" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="header-sidebar-1">
				<div id="text-7" class="visible-all-devices ">			<div class="textwidget"><address class="address-1">2801 NW 74 Ave., Suite 214
Miami, FL 33122</address></div>
		</div>			</div>
		</div>
		<div class="span2">
			<div class="" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="header-sidebar-1">
				<div id="text-8" class="visible-all-devices ">			<div class="textwidget"><a href="http://www.sgtfinancial.com/en/factoring/#" class="mail_link">trade@sgtfinancial.com</a></div>
		</div>			</div>
		</div>
		<div class="span3">
			<div class="" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="header-sidebar-1">
				<div id="text-9" class="visible-all-devices ">			<div class="textwidget"><div class="header_phone"> +1 (786) 420-3484</div></div>
		</div>			</div>
		</div>
		<div class="span4">
			<div class="" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="header-sidebar-4">
				<div id="polylang-3" class="visible-all-devices "><ul>
	<li class="lang-item lang-item-2 lang-item-en current-lang"><img id ="imgCurrentUser" src="/css/images/user.png" title="user" alt="user"/> <a id ="lblCurrentUser"><b>-<b/><a/></li>
	<li class="lang-item lang-item-5 lang-item-es"><img id ="imgLogout" src="/css/images/logout.png" title="logout" alt="logout"/> <a  href="/Login"><span id ="lblLogOut"><b>Login <b/> <span/></li>
	
</ul>
</div>			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span3">
		<div class="row">
			<div class="span3" data-motopress-type="static" data-motopress-static-file="static/static-logo.php">
				<!-- BEGIN LOGO -->
<div class="logo pull-left">
									<a href="/Dashboard" class="logo_h logo_h__img"><img src="./SGT_files/sgt-logo.png" alt="SGT Financial" title="financial advisor"></a>
						<p class="logo_tagline">financial advisor</p><!-- Site Tagline -->
	</div>
<!-- END LOGO -->			</div>
			<div class="span3 hidden-phone" data-motopress-type="static" data-motopress-static-file="static/static-search.php">
				<!-- BEGIN SEARCH FORM -->
<!-- END SEARCH FORM -->			</div>
		</div>
	</div>
	
	<div class="span9" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">
		<!-- BEGIN MAIN NAVIGATION -->

		
		<nav class="nav nav__primary clearfix" style="position: relative; top: 0px;">
<ul id="topnav" class="sf-menu sf-js-enabled">

</ul>	
</nav>


		
		<div class="pseudoStickyBlock" style="position: relative; display: block; height: 0px;"></div><!-- END MAIN NAVIGATION -->	</div>
</div>
					</div>
				</div>
			</div>
		</header>