<!-- Modal Contents -->
<div id="DeleteModal" data-backdrop="static" data-keyboard="false" class="modal fade ">
  <!-- class modal and fade -->
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <!-- modal header -->
        <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">×</button>

        <h4 class="modal-title">Delete confirmation</h4>
      </div>

      <div class="modal-body" style="padding:40px; font-family:Trebuchet MS,Ubuntu;">
        <!-- modal body -->
        <p id="dmsg">Are you sure to delete ?</p>

      </div>

      <div class="modal-footer">
        <!-- modal footer -->
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" id="btnMDelete" class="btn btn-primary" >yes</button>

      </div>

    </div>
    <!-- / .modal-content -->
  </div>
  <!-- / .modal-dialog -->
</div>
<!-- / .modal -->



<!--Message Modal Contents -->
<div id="MessageModal" data-backdrop="static" data-keyboard="false" class="modal fade">
  <!-- class modal and fade -->
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <!-- modal header -->
        <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">×</button>

        <h4 class="modal-title">Information</h4>
      </div>

      <div class="modal-body" style="padding:40px; font-family:Trebuchet MS,Ubuntu;">
        <!-- modal body -->
        <p id="mmsg"> saved successfully...</p>

      </div>

      <div class="modal-footer">
        <!-- modal footer -->
        <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>


      </div>

    </div>
    <!-- / .modal-content -->
  </div>
  <!-- / .modal-dialog -->
</div>
<!-- / .modal -->




<div class="modal fade" data-backdrop="static" data-keyboard="false" id="pleaseWaitDialog"  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal header -->
        <button type="button" class="close" data-dismiss="modal"
        aria-hidden="true">×</button>

        <h4 class="modal-title">Processing your data...</h4>
      </div>

      <div class="modal-body" style="padding:40px; font-family:Trebuchet MS,Ubuntu;">
        <!-- modal body -->
        <p id="pmsg"> Please wait...</p>

      </div>
      <div class="modal-footer">
        <!-- modal footer -->



      </div>
    </div>
    <!-- / .modal-content -->
  </div>
  <!-- / .modal-dialog -->
</div>
