

<%- include layouts/header.ejs %>

<div class="motopress-wrapper content-holder clearfix">
	<div class="container">
		<div class="row">
			<div class="span12" data-motopress-wrapper-file="page-fullwidth.php" data-motopress-wrapper-type="content">

 <div class="Itemdiv" style="height:400px;">
	<h4 >WELCOME</h4></ul>
	</div></div></div></div></div>
<%- include layouts/modal.ejs %>
<%- include layouts/footer.ejs %>