
<%- include layouts/header.ejs %>
 <script type="text/javascript" src="scripts/jsGenerateMenu.js"></script>   
  <script type="text/javascript" src="scripts/jsDashboard.js"></script>   
   

<div class="motopress-wrapper content-holder clearfix">
	<div class="container">
		<div class="row">
			<div class="span12" data-motopress-wrapper-file="page-fullwidth.php" data-motopress-wrapper-type="content">
				<div class="row">
					<div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-title.php">
						<section class="title-section">
							<h4 >Dashboard</h4>
						</section><!-- .title-section -->
					</div>
				</div>
				<div id="content" class="row">
					<div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-2448" class="page post-2448 type-page status-publish hentry">


    <div class="Itemdiv">

				<table id="fgrdData" style="display: none;"></table>
    		</div>
	

<%- include layouts/footer.ejs %>