<!DOCTYPE html>
<%- include layouts/header.ejs %>
<link rel="stylesheet" href="css/Page.css" type="text/css"  />
  <link rel="stylesheet" href="css/Datepicker.css" type="text/css"  />  
<script type="text/javascript" src="scripts/jsLetterOfCredit.js"></script>
<script type="text/javascript" src="scripts/jsGenerateMenu.js"></script>


<html>

<head>
<link rel="stylesheet" id="Main Stylesheet-css" href="css/loc_css/foundation.css" type="text/css" media="all">
<link rel="stylesheet" id="Form-css" href="css/loc_css/form.css" type="text/css" media="all">
<link rel="stylesheet" id="dry_awp_theme_style-css" href="css/loc_css/awp-columns.css" type="text/css" media="all">

<link rel="stylesheet" id="gforms_reset_css-css" href="css/loc_css/formreset.min.css" type="text/css" media="all">
<link rel="stylesheet" id="gforms_datepicker_css-css" href="css/loc_css/datepicker.min.css" type="text/css" media="all">
<link rel="stylesheet" id="gforms_formsmain_css-css" href="css/loc_css/formsmain.min.css" type="text/css" media="all">

		</head>
	<body >
		<div class="off-canvas-wrap" data-offcanvas="">
		<div class="inner-wrap">
			
			
<header >
					

		

		</header>
		<main role="main">
						
<div class="full-form">
  
    <div class="row cf">
    	
              
                                 

                <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_3"><a id="gf_3" class="gform_anchor"></a>
				<div class="YellowWarning" align="center">
                    All fields are required fields, Please try again.
                </div>
				<form method="post" enctype="multipart/form-data" target="gform_ajax_frame_3" id="gform_3" action="">
                        <div class="gform_heading" style="align:center;" >
                            <h3 class="gform_title centre" >LETTER OF CREDIT APPLICATION</h3>
                            <span class="gform_description"></span>
                        </div>
                        <div class="gform_body"><ul id="gform_fields_3" class="gform_fields top_label form_sublabel_below description_below"><li id="field_3_1" class="gfield full-width gfield_html gfield_html_formatted gfield_no_follows_desc field_sublabel_below field_description_below"><h2>APPLICANT CONTACT INFORMATION</h2></li>
						
						<li id="field_3_2" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_2">Contact Person Name<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_text"><input name="input_2" id="input_3_2" type="text" value="" class="medium" tabindex="1"></div></li>
						
						<li id="field_3_8" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_8" style="display:none;">Beneficiary (indicate name &amp; complete address)<span class="gfield_required" style="display:none;">*</span></label><div class="ginput_container ginput_container_textarea">
					<textarea name="input_8" id="input_3_8" class="textarea medium" tabindex="2" rows="10" cols="50" style="display:none;" ></textarea>
				</div></li>
				
				<li id="field_3_3" class="gfield field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_3">Company Name</label><div class="ginput_container ginput_container_text"><input name="input_3" id="input_3_3" type="text" value="" class="medium" tabindex="3"></div></li>
				
				<li id="field_3_42" class="gfield field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_42">Job Title</label><div class="ginput_container ginput_container_text"><input name="input_42" id="input_3_42" type="text" value="" class="medium" tabindex="4"></div></li>
				
				<li id="field_3_4" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_4">Office Phone<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_text"><input name="input_4" id="input_3_4" type="text" value="" class="medium" tabindex="5"></div></li>
				
				<li id="field_3_9" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_9">Applicant (indicate name &amp; complete address)<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_textarea">
					<textarea name="input_9" id="input_3_9" class="textarea medium" tabindex="6" rows="10" cols="50"></textarea>
				</div></li>
				
				<li id="field_3_5" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_5">Cell Phone<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_text"><input name="input_5" id="input_3_5" type="text" value="" class="medium" tabindex="7"></div></li>
				
				<li id="field_3_6" class="gfield field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_6">Fax</label><div class="ginput_container ginput_container_text"><input name="input_6" id="input_3_6" type="text" value="" class="medium" tabindex="8"></div></li>
				
			
				
				<li id="field_3_7" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_7">Email<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_email">
                            <input name="input_7" id="input_3_7" type="email" value="" class="medium" tabindex="10">
                        </div></li>
						
						<li id="field_3_11" class="gfield gfield_html gfield_html_formatted gfield_no_follows_desc field_sublabel_below field_description_below"><h2>LETTER OF CREDIT TERMS</h2></li>
						
			<li id="field_3_41" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_29">ApplicationNumber<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_text"><input name="ApplicationNumber" id="txtApplicationNumber" type="text" class="medium" tabindex="19"></div></li>
								
							<li id="field_3_29" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_29">ETC LC Number<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_text"><input name="ETCLCNumber" id="txtETCNumber" type="text" value=""  tabindex="20"></div></li>
									
							
										
						<li id="field_3_13" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_13">Payment Terms<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="PaymentTerms" id="ddlPaymentTerms" class="large gfield_select" tabindex="11"></select></div></li>
						
						<li id="field_3_43" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_43">Incoterm<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="Incoterm" id="ddlIncoterms" class="medium gfield_select" tabindex="12"></select></div></li>
						
						<li id="field_3_14" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_14">Ship By<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="Shipby" id="ddlShipby" class="medium gfield_select" tabindex="13"></select></div></li>
						
						<li id="field_3_15" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_15">Credit Amount<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_text"><input name="CreditAmount" id="txtCreditAmountRequested" type="text" value="" class="medium" tabindex="14"></div></li>
						
						<li id="field_3_16" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_16">Currency<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="Currency" id="ddlCurrency" class="medium gfield_select" tabindex="15"></select></div></li>
						
						<li id="field_3_17" class="gfield field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_17">Incoterm: If Other, please specify:</label><div class="ginput_container ginput_container_text"><input name="IncotermsOtherSpecify" id="txtIncotermsOtherSpecify" type="text" value="" class="medium" tabindex="16"></div></li>
					
						<li id="field_3_18" class="gfield field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_18">Shipping: If Other, please specify:</label><div class="ginput_container ginput_container_text"><input name="ShippingOtherSpecify" id="txtShippingOtherSpecify" type="text" value="" class="medium" tabindex="17"></div></li>
						
						<li id="field_3_41" class="gfield field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_41">Tolerance (if applicable, %)</label><div class="ginput_container ginput_container_text"><input name="Tolerance" id="txtTolerance" type="text" value="" class="medium" tabindex="18"></div></li>
					
						<li id="field_3_21" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_21">Days to Present Documents<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_text"><input name="presentDocument" id="txtpresentDocument" type="text" value="" class="medium" tabindex="21"></div></li>
						
						<li id="field_3_43" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_43">Confirmation Instruction<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="ConfirmationInstructions" id="ddlConfirmationInstructions" class="medium gfield_select" tabindex="22"><option value="0" selected="selected" class="gf_placeholder">---Select---</option><option class="gf_placeholder">None</option><option >May Add</option></select></div></li>
						
						<li id="field_3_43" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_43">Transferable <span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="Transferable" id="ddlTransferable" class="medium gfield_select" tabindex="23"><option value="0" selected="selected" class="gf_placeholder">---Select---</option><option class="gf_placeholder">Yes</option><option>NO </option></select></div></li>
						
					
						
						<li id="field_3_24" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_24">Expiration Date (MM/DD/YYYY)<span class="gfield_required">*</span></label>
						<div class="ginput_container ginput_container_date">
                            <!--<input name="ExpirationDate" id="dtpExpirationDate" type="text" value="" class="datepicker medium mdy datepicker_no_icon hasDatepicker" tabindex="24">-->
							<input type="text" tabindex="24" class="datepicker medium mdy"  id="dtpExpirationDate"></input>
                        </div>
                       </li>
						
						
						<li id="field_3_25" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_25">Latest Shipment (MM/DD/YYYY)<span class="gfield_required">*</span></label>
						<div class="ginput_container ginput_container_date">
                            <!--<input name="input_25" id="input_3_25" type="text" value="" class="datepicker medium mdy datepicker_no_icon hasDatepicker" tabindex="25">-->
							 <input type="text" tabindex="25" class="datepicker medium mdy" id="dtpLatestShipment"></input>
                        </div>
                       </li>
						
							
						<li id="field_3_43" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_43">Partial Shipments <span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="PartialShipment" id="ddlPartialShipment" class="medium gfield_select" tabindex="26"><option value="0" selected="selected" class="gf_placeholder">---Select---</option><option  class="gf_placeholder">Allowed</option><option >Prohibited  </option></select></div></li>
						
						
						
								<li id="field_3_43" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_43">Transshipment<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="Transhipment" id="ddlTranshipment" class="medium gfield_select" tabindex="27"><option value="0" selected="selected" class="gf_placeholder">---Select---</option><option  class="gf_placeholder">Allowed</option><option >Prohibited  </option></select></div></li>
						
				
						
						<li id="field_3_28" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_28">Port of Loading/Place of Receipt<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_text"><input name="PortofLoading" id="txtPortofLoading" type="text" value="" class="medium" tabindex="28"></div></li>
						
						<li id="field_3_29" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_29">Port of Discharge/Place of Delivery<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_text"><input name="PortofDischarge" id="txtPortofDischarge" type="text" value="" class="medium" tabindex="29"></div></li>
						
							<li id="field_3_43" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_43">Freight Charges<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="ddlFreightCharges" id="ddlFreightCharges" class="medium gfield_select" tabindex="30"></select></div></li>
						
									
									<li id="field_3_43" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_43">Buyer Pays Insurance<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="Insurance" id="ddlInsurance" class="medium gfield_select" tabindex="31"></select></div></li>	
										
									<li id="field_3_43" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_43">Application Status<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="ApplicationStatus" id="ddlApplicationStatus" class="medium gfield_select" tabindex="32"></select></div></li>	
						
							<li id="field_3_43" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_43">Bank<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="Bank" id="ddlBankID" class="medium" tabindex="33"></select></div></li>	
							
							
								<li id="field_3_43" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_43">Benificiary<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_select"><select name="Benificiary" id="ddlBenificiaryID" class="medium gfield_select" tabindex="34"></select></div></li>	
								
								
						
						
							
						
						<li id="field_3_32" class="gfield full-filed gfield_html gfield_html_formatted gfield_no_follows_desc field_sublabel_below field_description_below"><h2>PAYMENT TO BE MADE ONLY AGAINST PRESENTATION OF ALL DOCUMENTS DETAILED BELOW:</h2>
<ul>
<li>Commercial invoice in one (1) original and two (2) copies.</li>
<li>Packing list in one (1) original and two (2) copies.</li>
<li>Certificate of origin in one (1) original and two (2) copies.</li>
<li>3 of 3 original Ocean Bill of Lading, plus 3 copies consigned to the order of the issuing bank and marked</li>
</ul>


<span>Notify: SGT FINANCIAL, Inc., 2801 NW 74 Ave., Suite 214 Miami, FL 33122</span></li>

<li id="field_3_33" class="gfield field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_33">REQUIRED DOCUMENTS</label><div class="ginput_container ginput_container_textarea">
					<textarea name="input_33" id="txtRequiredDocuments" class="textarea medium" tabindex="36" rows="10" cols="50"></textarea>
				</div><div class="gfield_description">Please provide a detailed description of the required documents:</div></li>
				
				<li id="field_3_34" class="gfield field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_34">ADDITIONAL CONDITIONS</label><div class="ginput_container ginput_container_textarea">
					<textarea name="input_34" id="txtAdditionalConditions" class="textarea medium" tabindex="37" rows="10" cols="50"></textarea>
				</div><div class="gfield_description">All documents except drafts and bills of lading must be in the name of:</div></li>
				
				<li id="field_3_35" class="gfield field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_35">DESCRIPTION OF GOODS</label><div class="ginput_container ginput_container_textarea">
					<textarea name="input_35" id="txtDescriptionOfGoods" class="textarea medium" tabindex="38" rows="10" cols="50"></textarea>
				</div><div class="gfield_description">Please provide a detailed description of the goods being shipped:</div></li>
			<a href="#"   onclick="showUploaderPopup();"><h2 ><input id='btnUpload' type="button" style="width:13%" class="btn btn-default" value="Upload File"> </h2></a>
			<a href="#"   onclick="showDownloadPopup();"><h2 ><input id='btnDownload' type="button" style="width:13%" class="btn btn-default" value="Download File"> </h2></a>
          </div>		
		 
		    <!--file download Modal  -->
    <div id="FileDownload" data-backdrop="static" data-keyboard="false" class="modal fade"> <!-- class modal and fade -->
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-header"> <!-- modal header -->		  
            <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">×</button>
			
            <h4 class="modal-title">Documents</h4>
          </div>  
		   <div id="FileDownloadList">
		 <div id="SingleFileDownload"  >						     
	  <table  style="text-align: left; width:100%; border-spacing: 5px; border-collapse: separate;    class="tbldownload" id="tblFileDownload"  >
        
	</table>
	</div>
	 <div id="SingleFileDownload" >
   <table  style="text-align: left; width:100%; border-spacing: 5px; border-collapse: separate;   class="tbldownload" id="tblFileDownloadAll"  >
									 
	</table>
	 </div>   
	 </div>   
       	<div class="modal-footer"> <!-- modal footer -->
           
		    <button type="button" id="btnDownloadAll"  class="btn btn-default"  >Generate Zip</button>
        
          </div>
		  
        </div> <!-- / .modal-content -->
     </div> <!-- / .modal-dialog -->
  </div><!-- / .modal -->		
	



     <!--file uplod Modal  -->
    <div id="FileUpload" data-backdrop="static" data-keyboard="false" class="modal fade"> <!-- class modal and fade -->
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-header"> <!-- modal header -->		  
            <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">×</button>
			
            <h4 class="modal-title">Browse and upload</h4>
          </div>
		 
		 <table  style="border-spacing: 5px; margin-left: 50px;"   >
                                    <tr >
										<td style="font-size: 14px; width: 150px; color: #666; font-weight: 500; margin-top: 25px;" align="left">
                                    RequireDocument</td> 
										<td style="font-size: 14px; width: 10px; color: #666; font-weight: 500; margin-top: 25px;height:40px;" align="left" >:</td>
										<td style="font-size: 14px; width: 10px; color:Red; font-weight: 500; margin-top: 25px;height:40px;" align="left" >* </td>
										<td><select id="ddlDocument" style="width: 300px; height:40px;font-size: 14px;  margin-top: 15px;" ></select>
										</td>

									</tr>
									<tr >
										<td style="font-size: 14px; width: 150px; color: #666; font-weight: 500; margin-top: 25px;">
                                       Select File</td> 
										<td style="font-size: 14px; width: 10px; color: #666; font-weight: 500; margin-top: 25px;" align="left" >:</td>
										<td style="font-size: 14px; width: 10px; color:Red; font-weight: 500; margin-top: 25px;" align="left" > </td>
										<td>  <input type="file" class="file"   name="file[]" id="file" accept="image/*,application/pdf"  style="width: 200px;margin-top: 15px; font-size: 14px;"  />
										 </td>
                                        
									</tr>
									</table>
									 <table  style="text-align: left; border-spacing: 5px; border-collapse: separate;" id="tblFile" >
									<div id="FileList">
									
									</div>
									</table>
       	<div class="modal-footer"> <!-- modal footer -->
          <button type="button" id="btnFileUpload" class="btn btn-default" data-dismiss="modal">Select</button>
          
          </div>
		  
        </div> <!-- / .modal-content -->
     </div> <!-- / .modal-dialog -->
  </div><!-- / .modal -->		
				

				<!-- Modal zip file creation-->

	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
	  <h4>Generating zip file...</h4>
        <div class="progress progress-striped active">

                <div class="bar" style="width: 100%;"></div>
            </div>
    </div>
  </div>
</div>
<!-- Modal ends Here -->

				<li id="field_3_40" class="gfield gfield_html gfield_html_formatted field_sublabel_below field_description_below"><h2>TERMS &amp; CONDITIONS</h2></li>
				
				<li id="field_3_36" class="gfield full-filed gfield_html gfield_html_formatted gfield_no_follows_desc field_sublabel_below field_description_below"><ol>
<li>Upon acceptance of this Application and prior to issuance of a Letter of Credit by SGT FINANCIAL. (“SGT”), Applicant unconditionally and irrevocably agrees to pay Express or its
assigns, in immediately available funds, all opening fees and commissions agreed upon between
the Applicant and SGT. Applicant likewise agrees to pay SGT or its assigns, in
immediately available funds, for any and all drafts drawn against the Letter of Credit and
presented to SGT for payment, along with any and all fees in the amounts agreed upon
between the parties, regardless of whether the draft was made in conformance with the terms of
the Letter of Credit or whether the draft was accepted and paid after Applicant’s oral or written
approval of discrepancies. Applicant unconditionally agrees that unless Express decides
otherwise in its sole discretion, no draft drawn against a Letter of Credit shall be approved for
payment until Applicant indefeasibly pays Express the full amount of the draft and applicable
bank fees in immediately available funds. Applicant unconditionally agrees that all fees and
commissions incurred upon opening a Letter of Credit are fully earned and nonrefundable.
A
Letter of Credit shall be considered opened when it is transmitted or couriered by the issuing
bank to the designated advising bank, a correspondent or intermediate bank, or the designated
beneficiary, regardless of whether the Letter of Credit is rejected by the beneficiary for any
reason, or if it is rejected by the advising bank or any correspondent or intermediate bank for any
reason except for reasons for which Express or its issuing bank are directly at fault.</li>

<li>Pursuant to the provisions of the Uniform Customs and Practice for Documentary Credits,
Express, its agents, or its affiliates shall not be liable for the form, sufficiency, accuracy,
genuineness, falsification or legal effect of any document, or for the general or particular
conditions stipulated in a document or superimposed thereon; nor shall Express, its agents, or its
affiliates be liable or responsible for the description, quantity, weight, quality, condition, packing,
delivery, value or existence of the goods, services or other performance represented by any
document, or for the good faith or acts or omissions, solvency, performance or standing of the
consignor, the carrier, the forwarder, the consignee or the insurer of the goods or any other
person.</li>

<li>Applicant agrees to indemnify Express, its agents, and its affiliates from and against any and all
damages and/or liabilities of any kind arising from or related to any Letter of Credit issued by
Express, including, without limitation, attorney’s fees, that may be imposed against Express, its
agents, or its affiliates, except to the extent that any such damages or liability arise from the willful
misconduct of the party being indemnified. Applicant acknowledges that this indemnification
provision is a material inducement for SGT FINANCIAL to accept this Application and issue a Letter of
Credit. Applicant also agrees to pay any reasonable attorney fees incurred by SGT FINANCIAL in
connection with the enforcement of its rights hereunder against Applicant.</li>

<li>Applicant agrees that this Application and all agreements reached between the Applicant and
SGT FINANCIAL in connection with this Application, including, without limitation, the issuance of a Letter
of Credit, shall be interpreted and enforced in accordance with the laws of the State of New York
without regard to the conflict of laws rules of New York. The Applicant conditionally and
irrevocably consents to the jurisdiction of the courts of the State of New York in New York or
Nassau Counties and to the jurisdiction of the United States District Court for the Southern or
Eastern Districts of New York for the purpose of any lawsuit or proceeding arising out of or
relating to this Application or any Letter of Credit issued in connection with this Application.
APPLICANT AND SGT FINANCIAL EACH HEREBY WAIVE ANY AND ALL RIGHTS IT MAY HAVE TO
A JURY TRIAL IN CONNECTION WITH ANY LITIGATION, PROCEEDING OR
COUNTERCLAIM ARISING FROM THE TRANSACTIONS CONTEMPLATED HEREIN.</li>


</ol></li>

<li id="field_3_37" class="gfield full-filed gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label">TERMS<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_checkbox"><ul class="gfield_checkbox" id="input_3_37"><li class="gchoice_3_37_1">
								<!--<input name="input_37.1" type="checkbox" value="We, the undersigned applicant, agree to and accept the terms and conditions contained in this application.*" id="ckbTerms" tabindex="39">
								-->
								<input name="input_37.1" type="checkbox" value="We, the undersigned applicant, agree to and accept the terms and conditions contained in this application.*" id="choice_3_37_1" tabindex="39">
								
								<label for="choice_3_37_1" id="label_3_37_1">We, the undersigned applicant, agree to and accept the terms and conditions contained in this application.*</label>
							</li></ul></div></li>
							
							<li id="field_3_38" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_38">Please type your full name in place of a signature<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_text"><input name="Signature" id="txtSignature" type="text" value="" class="medium" tabindex="40"></div></li>
							
							
							<li id="field_3_39" class="gfield gfield_contains_required field_sublabel_below field_description_below"><label class="gfield_label" for="input_3_39">Enter the date (MM/DD/YYYY)<span class="gfield_required">*</span></label><div class="ginput_container ginput_container_date">
                            <!--<input name="input_39" id="input_3_39" type="text" value="" class="datepicker medium mdy datepicker_no_icon hasDatepicker" tabindex="41">-->
							 <input type="text" id="dtpCreatedDate" class="datepicker medium mdy" tabindex="41">
							 
                        </div>
                       
						</li>
						
						
                            </ul></div>
        <div class="gform_footer top_label">
			<input id='btncancel' type="button" class="btn btn-default" value="Reset"> 
			 <input id='btnsave' type="button" name="submit" value="Save" class="btn btn-primary">
			<input id='btnSubmit' type="button" class="btn btn-default" value="Submit">
			
            
        </div>
                        </form>
					

                        </div>
				
        </div>    

</div>
</main>



</div>
</div>
</body></html>


  <%- include layouts/modal.ejs %>
  <%- include layouts/footer.ejs %>