<%- include layouts/header.ejs %>
  <script type="text/javascript" src="scripts/jsApplicationStatus.js"></script>   

  
<div class="motopress-wrapper content-holder clearfix">
	<div class="container">
		<div class="row">
			<div class="span12" data-motopress-wrapper-file="page-fullwidth.php" data-motopress-wrapper-type="content">
				<div class="row">
					<div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-title.php">
						<section class="title-section">
						<h4 >Application Status</h4>
						</section><!-- .title-section -->
					</div>
				</div>
				<div id="content" class="row">
					<div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-2448" class="page post-2448 type-page status-publish hentry">  
					<div class="Itemdiv">
					<table id="fgrdData" style="display: none;"></table>
					</div>

			<div id="DeleteConform" style="display: none; title="Alert">
            </div>

<div id="EntryModal" data-backdrop="static" data-keyboard="false" class="modal fade " > <!-- class modal and fade -->
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          
          <div class="modal-header"> <!-- modal header -->		  
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Add Agent</h4>
          </div>
		  
          <div class="modal-body"> <!-- modal body -->
             <div class="Warning" align="center">
                    OOPS! Unable to process your request. Please contact admin!
                </div>
                <div class="YellowWarning" align="center">
                    All fields are required fields, Please try again.
                </div>       
							<div class="page-data">
                                <div id="DivItem" style="display: block;" align="center">
									<span style="color:red; visibility:hidden" id="Id">
									</span>
									<table  style="text-align: left; border-spacing: 5px;     border-collapse: separate;" >
                                    <tr >
										<td style="font-size: 14px; width: 130px; color: #666; font-weight: 500; margin-top: 25px;" align="left">
                                       Application Status</td> 
										<td style="font-size: 14px; width: 10px; color: #666; font-weight: 500; margin-top: 25px;" align="left" >:</td>
										<td style="font-size: 14px; width: 10px; color:Red; font-weight: 500; margin-top: 25px;" align="left" >* </td>
										<td> <input style="width: 200px;" type='text' id="txtStatus" maxlength="50" required>
											</input>
										</td>

									</tr>
								
									

									</table>								
						</div> <!--class DivItem -->  
							</div>  <!-- class page data -->            
				</div> <!-- modal body -->		  
					<div class="modal-footer"> <!-- modal footer -->         
						<button id='btncancel' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<input id='btnsave' type="button" name="submit" value="Save" class="btn btn-primary">
					</div><!--class  modal footer --> 		  
        </div> <!-- / .modal-content -->
     </div> <!-- / .modal-dialog -->
  </div><!-- / .modal -->

  
<%- include layouts/modal.ejs %>
<%- include layouts/footer.ejs %>
