<%- include layouts/header.ejs %>


 <script type="text/javascript" src="scripts/jsForgotPassword.js"></script>   
   <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>    
    <link rel="stylesheet" href="css/resetlogin.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="css/logintheme.css">
	
 <script type="text/javascript" src="scripts/jsGenerateMenu.js"></script>   
		

		

<div class="motopress-wrapper content-holder clearfix">
	<div class="container">
		<div class="row">
	 <div class="Itemdiv" >

						<form class="login">
  <div class="Warning" align="center">
                    OOPS! Unable to process your request. Please contact admin!
                </div>
                <div class="YellowWarning" align="center">
                    All fields are required fields, Please try again.
                </div>
            <span style="color:red; visibility:hidden" id="Id">
									</span>

  <fieldset>
    
  	<legend class="legend">Reset Password</legend>
	<div class="input">
    	<legend class="content">To reset password, enter the email address linked to your</legend>
		<legend class="content">SGT Financial Account.we will send you an email with </legend>
		<legend class="content">Password reset instructions.</legend>
		</div>
    <div class="input">
			

    	<input type="email" id="txtEmail" name="fp_email"  placeholder="Email" required />
      <span><i class="fa fa-envelope-o"></i></span>
    </div>
   <div class="input">
    <a class="forgot" href="/Login" >   back to login page</a>
	 </div>
    <button id='btnforgotpassword' type="submit" class="submit"><i class="fa fa-long-arrow-right"></i></button>
	
	 <div class="input">
    	
    
    </div>
    
  </fieldset>
  
  <div class="feedback">
  	login successful <br />
    redirecting...
  </div>
  


</form>
</div>
		</div>
		</div>
		</div>

<script src="js/jsLoginShake.js"></script>
 <%- include layouts/modal.ejs %>
<%- include layouts/footer.ejs %>